@charset "utf-8";

body,h1,h2,h3,h4,p,ol,ul,dl,dd,th,td,input,textarea,select {
    font-family:"Microsoft Yahei";
    font-size:14px;
    color:#333;
    padding:0;
    margin:0;
}
li {
    list-style-type:none;
}
a {
    text-decoration:none;
    color:#333;
}
a:hover {
    color:#f60;
}
img {
    vertical-align:top;
}
table {
    border-collapse:collapse;
}
input[type=text],
input[type=password],
input[type=submit] {
    border:1px solid #888;
    border-radius:4px;
    padding:0 8px;
}
textarea {
    border:1px solid #888;
    border-radius:4px;
    padding:8px;
}
select {
    border:1px solid #888;
    border-radius:4px;
    padding-left:5px;
}

.login {
    width:300px;
    border:1px solid #999;
    border-radius:5px;
    text-align:center;
    padding:30px;
    margin:100px auto;
}
.login legend {
    font-size:24px;
    font-weight:bold;
    letter-spacing:2px;
    border:1px solid #999;
    border-radius:5px;
    padding:0 10px;
}
.login label {
    display:inline-block;
    width:64px;
    font-size:16px;
    text-align:right;
    margin-right:10px;
    margin-bottom:18px;
}
.login input[type=text],
.login input[type=password] {
    width:180px;
    height:29px;
    line-height:29px;
    font-size:16px;
    letter-spacing:1px;
}
.login input[type=submit] {
    height:31px;
    font-size:16px;
    cursor:pointer;
}

.map {
    padding:20px;
}

#header {
    height:80px;
    background-color:#3b6ea5;
}
#header h1 {
    float:left;
}
#header h1 a {
    display:block;
    width:150px;
    height:80px;
    line-height:80px;
    font-size:30px;
    color:#fff;
    text-align:center;
}
#header ul {
    padding:48px 0 0 50px;
    float:left;
}
#header li {
    margin-right:8px;
    float:left;
}
#header li a {
    display:block;
    width:60px;
    height:30px;
    line-height:32px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    border:1px solid #fff;
    border-bottom:1px solid #3b6ea5;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
#header li a.selected {
    color:#3b6ea5;
    background-color:#fff;
}
#header p {
    color:#fff;
    text-align:right;
    padding-top:32px;
    padding-right:20px;
}
#header p a {
    color:#fff;
    font-size:13px;
    font-weight:bold;
    padding-left:18px;
}

#aside {
    width:148px;
    border-right:2px solid #3b6ea5;
    float:left;
}
#aside dl {
    margin:20px;
}
#aside dt {
    width:80%;
    font-size:14px;
    font-weight:bold;
    text-indent:16px;
    border-bottom:1px solid #3b6ea5;
    padding-bottom:7px;
    margin:0 auto 8px auto;
}
#aside dd {
    width:80%;
    text-indent:16px;
    padding-bottom:3px;
    margin:0 auto;
}
#aside dd a {
    font-size:13px;
}

#main {
    float:right;
    overflow:hidden;
}
#main iframe {
    width:100%;
    height:100%;
}

#footer {
    clear:both;
    height:50px;
    line-height:50px;
    background-color:#ddd;
}
#footer p {
    font-size:13px;
    text-align:center;
    letter-spacing:2px;
}