@charset "utf-8";

body {
	/* background:url(../img/header_bg.png) repeat-x; */
}
#header {
	width:900px;
	height:30px;
	margin:0 auto;
}
#header .logo {
	width:100px;
	height:30px;
	float:left;
}
#header .member_menu {
	width:80px;
	height:30px;
	line-height:30px;
	text-indent:10px;
	cursor:pointer;
	float:right;
}
#header .member_menu span {
	letter-spacing:1px;
}
#header .member_menu img {
	vertical-align:1px;
	padding-left:1px;
}
#header .member_menu ul {
	display:none;
	border:1px solid #aaa;
	border-top:none;
	opacity:0;
	filter:alpha(opacity=0);
}
#header .member_menu li {
	height:30px;
	line-height:30px;
}
#header .member_menu li a {
	display:block;
	background:#fbf7e1 url(../img/arrow3.gif) no-repeat 10px center;
	letter-spacing:1px;
	padding-left:24px;
}
#header .member_menu li a:hover {
	background:#fc0 url(../img/arrow4.gif) no-repeat 10px center;
}
#header .login_menu {
	height:30px;
	line-height:30px;
	letter-spacing:1px;
	padding-right:15px;
	cursor:pointer;
	float:right;
}

#screen {
	display:none;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:1000;
}

#login {
	display:none;
	width:350px;
	height:250px;
	background-color:#fff;
	border:1px solid #aaa;
	text-align:center;
	z-index:1001;
}
#login h2 {
	height:40px;
	line-height:40px;
	border-bottom:1px solid #aaa;
	background:url(../img/login_header.png) repeat-x;
	letter-spacing:2px;
	font-size:16px;
	color:#555;
	cursor:move;
}
#login .login_close {
	margin-top:-27px;
	margin-right:10px;
	cursor:pointer;
	float:right;
}
#login div {
	font-size:14px;
	margin-bottom:15px;
}
#login .login_first {
	margin-top:29px;
}
#login .login_end {
	text-align:right;
	font-size:12px;
	padding-top:7px;
	margin-right:10px;
}
#login input[type=text],
#login input[type=password] {
	width:200px;
	height:28px;
	line-height:28px;
	border:1px solid #aaa;
	font-size:14px;
	margin-left:10px;
	padding:0 5px;
}
#login input[type=submit] {
	width:107px;
	height:30px;
	background:url(../img/login_button.png) no-repeat left;
	border:none;
	cursor:pointer;
}

#share {
	width:210px;
	height:315px;
	border:1px solid #ccc;
	background-color:#fff;
	position:absolute;
	top:212px;
	left:-212px;
}
#share h2 {
	height:30px;
	line-height:30px;
	background-color:#eee;
	text-indent:10px;
	font-size:14px;
	color:#555;
	padding:0;
	margin:0;
}
#share ul {
	height:254px;
	padding:3px 0 2px 6px;
}
#share ul li {
	width:96px;
	height:28px;
	padding:2px;
	float:left;
}
#share ul li a {
	display:block;
	width:95px;
	height:26px;
	line-height:26px;
	text-decoration:none;
	color:#555;
	background:url(../img/share_bg.png) no-repeat;
	text-indent:30px;
}
#share ul li a.a {
	background-position:5px 4px;
}
#share ul li a.b {
	background-position:5px -26px;
}
#share ul li a.c {
	background-position:5px -56px;
}
#share ul li a.d {
	background-position:5px -86px;
}
#share ul li a.e {
	background-position:5px -116px;
}
#share ul li a.f {
	background-position:5px -146px;
}
#share ul li a.g {
	background-position:5px -176px;
}
#share ul li a.h {
	background-position:5px -206px;
}
#share ul li a.i {
	background-position:5px -236px;
}
#share ul li a.j {
	background-position:5px -266px;
}
#share ul li a.k {
	background-position:5px -296px;
}
#share ul li a.l {
	background-position:5px -326px;
}
#share ul li a.n {
	background-position:5px -356px;
}
#share ul li a.m {
	background-position:5px -386px;
}
#share ul li a.o {
	background-position:5px -416px;
}
#share ul li a.p {
	background-position:5px -446px;
}
#share ul li a:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
	background-color:#eee;
	color:#06f;
}
#share .share_footer {
	height:26px;
	line-height:26px;
	background-color:#eee;
	position:relative;
}
#share .share_footer a {
	background:#eee url(../img/share_bg.png) no-repeat 0 -469.5px;
	color:#555;
	padding-left:15px;
	margin-right:10px;
	float:right;
}
#share .share_footer a:hover {
	color:#06f;
	opacity:0.8;
	filter:alpha(opacity=80);
}
#share .share_footer span {
	display:block;
	width:24px;
	height:88px;
	position:absolute;
	top:-230px;
	left:210px;
	background:url(../img/share.png) no-repeat;
	cursor:pointer;
}

#bg {
	width:300px;
	height:300px;
	background-color:#ccc;
	/* position:absolute;
	top:0;
	left:0; */
}
#box {
	width:100px;
	height:100px;
	background-color:#f00;
	position:absolute;
	top:100px;
	left:100px;
}
#btn {
	width:50px;
	height:28px;
	line-height:25px;
	margin-left:250px;
	cursor:pointer;
}
